# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# iOS / Android
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/Runner.xcodeproj/
**/ios/ServiceDefinitions.json

**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*

# Mac / Linux / Windows
**/macos/Flutter/ephemeral/
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/

# Web
**/web/.dart_tool/

# Misc
.DS_Store
.vscode/
.idea/
